---
    layout: default
---

%a{ href: '/en/' } English
%br
%h1 Yuchiki
コンピュータ科学を勉強しています。
%h1 Profile
%h2 History
%ul
    %li 2017-4 - Now 東京大学大学院情報理工学系研究科
    %li 2015-4 - 2017-3 東京大学理学部情報科学科
    %li 2013-4 - 2015-3 東京大学理科一類
%h2 (Natural) Languages
%ul
    %li Japanese: Native
    %li English: Working Level
    %li German: Basic Knowledge
    %li Latin: Basic Grammar
%h2 (Programming) Languages and tools
%h3 Experience in Work
%ul
    %li Ruby
    %li haml
    %li scss
    %li Coffee Script
    %li Ruby on Rails
    %li Jenkins (CI tool)
%h3 Using in hobby programming
%ul
    %li Haskell
    %li C++
    %li C#
    %li Travis CI (CI tool)
%h3 Experience in Univ's Class
%ul
    %li C
    %li PowerPC Assembly
    %li Scheme
    %li OCaml
    %li Haskell
    %li VHDL
    %li Python
%h3 I have written Hello World, FizzBuzz or such very small programs in...
%ul
    %li VB6
    %li VB.net
    %li TypeScript
    %li JavaScript
    %li Brainf*ck
    %li Unlambda
    %li Lua
    %li MIPS Assembly
    %li Common Intermediate Language (dotnet VM Assembly)
%h1 I'm interested in...
%h2 Computer Science
%ul
    %li 型理論
    %li 形式検証
    %li 数理論理学
    %li 言語設計
    %li 言語処理系
    %li C#
%h2 Linguistics
%ul
    %li 比較言語学
    %li 歴史言語学
    %li 音声学
    %li 音韻論
    %li ラテン語
%h2 Others
%ul
    %li 日本民謡・歌謡
    %li 西洋民謡・歌謡
    %li 浪曲
    %li 街歩き
%h1 Accounts
%dl
    %dt Twitter
    %dd
        %a{ href: 'https://twitter.com/yuchiki1000yen' } @yuchiki100yen
    %dt Github
    %dd
        %a{ href: 'https://github.com/yuchiki' } yuchiki
    %dt Blog
    %dd
        %a{ href: 'http://yuchiki1000yen.hatenablog.com' } Amosapientiam
%br
%h3 AtCoder
始めたばっかりです。
%a{ href: 'http://kenkoooo.com/atcoder/?user=yuchiki' } Kenkoooo.com

= img('atcoder', 'kenkoo.png', "the languages I've used in AtCoder Contests.")
