.nicomoji { font-family: 'Nico Moji'; }

.hannari { font-family: 'Hannari'; }

.rounded { font-family: 'Rounded Mplus 1c'; }

body {
    font-family: 'Rouned MPlus 1c';
    margin: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0%;
}

.nav-to-top {
    a {
        text-decoration: none;
        :visited { color: inherit; }
    }
}
