---
    layout: default
---
どうも。Yuchikiです
%br
%a{ href: '/profile/index.html' } プロフィール
%br
%a{ href: '/last_build' } 最終更新日時

%h2 作ったもの

%dl
    %dt
        %a{ href: 'https://github.com/yuchiki/laml' } Laml
    %dd
        Haml的な表記でLatexが書けるもの。更新していません
    %dt
        %a{ href: 'https://github.com/yuchiki/SKI' } SKI Repl
    %dd
        SKIコンビネーターを簡約するrepl。式を名前に束縛する機能付き
    %dt
        %a{ href: 'https://github.com/yuchiki/YuchiKaml' } YuchiKaml
    %dd
        ML風動的型付け自作言語のインタプリタ。C#のパーサーコンビネータライブラリSpracheに馴れるための習作です。
    %dt
        %a{ href: 'https://github.com/yuchiki/typedMiniLang' } TypedMiniLang
    %dd
        OCamlのごくごく小さなサブセットの型推論器習作
    %dt
        %a{ href: 'https://github.com/yuchiki/wikiCUI' } wikiCUI
    %dd
        多言語のWikipediaを検索できるCUIコマンド
    %dt
        %a{ href: 'https://github.com/yuchiki/groebnerBasis' } GroebnerBasis
    %dd
        式を与えるとグレブナー基底を求めるREPL
    %dt
        %a{ href: '/shavianToPronunciation' } Shavian
    %dd
        ショー文字を発音にするやつ
    %dt
        %a{ href: '/diacritizer' } Diacritizer
    %dd
        私がエキゾチックな表記で英語を綴るときに使ってるやつ


%h2 アカウント類
%dl
    %dt Twitter
    %dd
        %a{ href: 'https://twitter.com/yuchiki1000yen' } @yuchiki1000yen
    %dt Github
    %dd
        %a{ href: 'https://github.com/yuchiki' } yuchiki

    %dt Qiita
    %dd
        %a{ href: 'https://qiita.com/yuchiki1000yen' } yuchiki1000yen
    %dt Blog
    %dd
        %a{ href: 'http://yuchiki1000yen.hatenablog.com' } Amosapientiam
%br
%h2 icon
= img('icon', '../icon.jpg', 'icon')
%br
iconは八ヶ岳から撮った雲海です。

%h2
    %a{ href: 'https://github.com/yuchiki/yuchiki.github.io' } このページのソースコード
