---
    layout: default
---

%h1 ShavianToPronunciation

This converter converts shavian letters to its pronunciation.

%a{ href: 'https://en.wikipedia.org/wiki/Shavian_alphabet' }
%br
input:
%br
%textarea#input-text{ name: 'text', cols: 100, rows: 10 }
    ğ‘’ğ‘°ğ‘ ğ‘’ğ‘­ğ‘¥
    ğ‘¨ğ‘¯ğ‘›
    ğ‘¿ğ‘Ÿ ğ‘–ğ‘±ğ‘ğ‘¾ğ‘¯
%br
output:
%br
%textarea#converted-text{ name: 'convertedText', cols: 100, rows: 10 }
